body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.container-fluid{
  height:100%;
}



.logo {
  width: 50%;
  height: auto;

  justify-content: center;
}

.center {

  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tabletShow {
  display: inline;
}

.mobileHide {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  html, body{
    overflow-x:hidden;
    height: 100%;
  }
  .mobileLogo {
    width: 80px;
    height: auto;
    float: left;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .mobileItem {
    display: inline;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mobileHide {
    display: none;
  }
  .modifyFooter{
    color: white;
    width:100%;
    padding:0;
    clear:both;
    bottom:0;
    position: absolute;

  }

}

.icon{
color:white;
}






#footer {
  /* background: #333333; */
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  flex-shrink: 0;
}






/* Image */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 20% 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}




/* Lightbox Galleey */
.thumb {
  margin-bottom: 30px;
}

img.zoom {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}


.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.modal-header {

  border-bottom: none;
}

.modal-title {
  color: #000;
}

.modal-footer {
  display: none;
}


.contact {
  margin-top: 2rem;
  margin-bottom: 2rem;
}





@media (max-width: 990px){
  .modifyImg{
    max-width:70%;
    height:auto;
    margin-bottom:1rem;
    
  }
  .align-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
}

@media (min-width: 991px){
  
  .vertical-center{
    display: flex;
      align-items: center;
      flex-wrap: wrap;
  
  }
}